[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

# slow query用の設定
## on or off
slow_query_log=1
## queryの発行に0秒以上かかったもの全部記録
long_query_time=0
## index使ってないqueryも記録
log_queries_not_using_indexes=1
slow_query_log_file=/var/log/slow-query.log

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
